[Desktop Entry]
Type=Application
Name=MAME
Comment=Emulate arcade machines and historical computer systems.
Exec=/usr/games/mame %U
Icon=mame
Terminal=false
Categories=Game;Emulator;
